input {
  padding:8px;
  border:none;
  display: inline-flexbox;
  border-bottom: 4px dotted #ccc;
}
*:focus{outline:none;}

button {
  font-size: x-large;
  padding: 15px;
  padding-left: 45px;
  padding-right: 45px;
  cursor: pointer;
  background-color: blue;
  color: #fff;
  border-radius: 30px;
  border-width: 0px;
}

a {
  color: #fff;
  text-decoration: none;
}